{%extends 'base.html'%}

{%block content%}


<h2 class="sub-header">Lista de Libros</h2>
          <div class="table-responsive">
            <table class="table table-striped">
<thead></thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Autor</th>
                  <th>Editorial</th>
                  <th>ISBN</th>
                  <th>Precio</th>
                </tr>
              </thead>
              <tbody>

    <ul> 
  {%for libromodelo in object_list%}

    <tr>
      <th>{{libromodelo.id}}</th>
      <th><a href="/libros/{{libromodelo.id}}/editar/">{{libromodelo.nombre}}</a></th>
      <th>{{libromodelo.autor}}</th>
      <th>{{libromodelo.editorial}}</th>
      <th>{{libromodelo.ISBN}}</th>
      <th>{{libromodelo.precio}}</th>
    
    </tr>
  {%empty%}
    <li>No hay libros en existencia!</li>
  {%endfor%}
</ul>
      </tbody>

</table>
</div>


{%endblock %}
